<h2>Pinks Colors </h2>

<div>
  <ul>
    <% allPink.forEach((oneColor) => { %>
      <% if( oneColor.category === "pink"){ %>


        <li>
        <p class="colorBox" style="background-color: <%= oneColor.hex %>"> </p>
          <p class="keyW"> <%= oneColor.keyword %> </p>
          <p class="keyW"> <%= oneColor.hex %> </p>

        </li>

    <% } %>
    <% }) %>
  </ul>
</div>
